{% extends 'shop/base.html' %}

{% block body %}
    {% if not categories %}
        <h1>There are no categories</h1>
    {% else %}
        <div class="container">
            <div class="jumbotron">
        <h3 style="text-align:center;"><a href="{% url 'shop:products' %}" ><p style="font-family:courier; color:Purple">All Products</p></a></h3>
            </div>
        </div>
        <ul>
            {% for category in categories %}
                <li>
                    <h3 style="font-family:verdana;"><a href="{% url 'shop:category_detail' category.id %}" ><p style="color:CadetBlue;">{{ category.name }}</p> </a></h3>
                    <ul>
                        {% for product in category.products.all %}
                        <div class="well well-sm"><h4><a href="{% url 'shop:product_detail' product.id %}"><p style="color:MediumSlateBlue;">{{ product.name }} </p></a></h4></div>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}