{% extends 'shop/base.html' %}

{% block body %}
        <h1 style="text-align:center;"> <p style="font-family:courier; color:MediumSlateBlue">{{ product.name }} </p></h1>
<div class="row">
    <div class="col-sm-4">
    <h1><img src="{{product.image}}" class="rounded" alt="Cinque Terre" width="304" height="236"></h1>
    </div>
</div>
    <h2 style="font-family:verdana;color:White;">Description: {{ product.description }}</h2>
    <h2 style="font-family:verdana;color:White;">Category: <a href="{% url 'shop:category_detail' product.category.id %}">{{ product.category.name }}</a></h2>
    <h2 style="font-family:verdana;color:White;">Price: {{product.price}}$</h2>
     {% if user.is_authenticated %}
    <form action="{% url 'shop:add_to_cart' %}" method="post">
        {% csrf_token %}
      <input type="hidden" name='product_id' value="{{product.id}}">
      <input type="submit" value="ADD PRODUCT" class="btn btn-info">
    </form>
    {% endif %}
{% endblock %}